.form {
    max-width: 30rem;
    margin: 2rem auto;
}

.form label,
.form input,
.form textarea {
    display: block;
    width: 100%;
}

.form input,
.form textarea {
    font: inherit;
    padding: 0.25rem;
    border-radius: 4px;
}

/* .form textarea:hover {
    background-color: aliceblue;
} */

.actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.actions button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background-color: rgb(204, 196, 196);
    color: rgb(36, 34, 34);
    border: none;
}

.actions a {
    text-decoration: none;
    background-color: transparent;
    color: var(--color-gray-800);
    font-weight: 400;
}

.actions button:hover {
    background-color: var(--color-primary-200);
}

.actions a:hover {
    color: black;
    background-color: transparent;
    font-weight: 600;
}