.content {
    text-align: center;
}

.text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contentButton {
    background-color: var(--color-green-300);
    font-size: 15px;
    padding: 10px;
    color: var(--color-gray-900);

}

.contentButton:hover {
    background-color: var(--color-green-500);
}